:host {
  display: block;
  position: fixed;
  top:60px;
  width: 100%;
  padding: 15px;
  background-color: #eff2ff;
  border-bottom: 1px solid #cecfd0;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 21px;
  left: 23px;
  color: lightslategray;
}

.search-input {
  width: calc(100% - 36px);
  background-color: white;
  font-size: 14px;
  padding: 6px 6px 6px 30px;
  border: 1px solid lightslategray;
  border-radius: 15px;
  outline: none;
}
